<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org/extras/spring-security"
      >
    
    <head>
        <title>Chatting</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" type="text/css" href="/Styles/1.css">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        
         <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
            
    </head>
    <body>
        
        
        <header th:fragment="header" class="header">
            <nav class="navbar navbar-nav-scroll navbar-expand-sm p-0 " id="navbar1">

                <div class="container-fluid">
                    <a class="navbar-brand" th:href="@{/}"><h2>Chatting</h2></a>
                    <button class="navbar-toggler" 
                            data-toggle="collapse"
                            data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav" >
                    <li class="nav-item-px2">
                        <a href="#" class="nav-menu-link nav-link">
                            
                                [[#{aplication.about}]]
                            
                        </a>
                        
                    </li>
                    <li class="nav-item-px2" >
                        <a href="https://firebasestorage.googleapis.com/v0/b/chatting-5b871.appspot.com/o/SC-403_VM_G9.pdf?alt=media&token=9b65108e-aeae-42a3-b89b-0af8abf0f63b" 
                           class="nav-menu-link nav-link" >[[#{aplication.documentation}]]</a>
                        
                    </li>
                    <li class="nav-item-px2" >
                        <a  href="#" class="nav-menu-link nav-link" >[[#{aplication.support}]]</a>
                        
                    </li>
                    </ul>
                    

                 <div class="container d-inline-flex justify-content-end p-2 gap-2">
                     <ul class="nav">
               <li class="nav-item">
               <a th:href="@{/sign_in}" class="nav-link text-success">
                   [[#{aplication.signin}]]
               </a>
               </li>
               <li class="nav-item">
                <a th:href="@{/login}"class="nav-link text-success">
                    <i class="bi bi-person"> 
                                [[#{aplication.login}]]
                    </i>
                </a>
               </li> 
                <li class="nav-item">
               <a th:href="@{/Userlogin}" class="nav-link" >[[#{aplication.login}]]</a>
                </li>
                </ul>
                </div>           
            </div>
                    </div>
                  
             
                
            </nav>
            
            <section id="main-header" class="py2 text-amazing">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h1>
                               
                            </h1>
                        </div>
                    </div>
                </div>
            </section>
            
            
        </header>
        
       
        <footer th:fragment="footer" class="bg-info text-white mt-5 p-2">
             <div class="col">
                 <p class="lead text-center">&COPY [[#{template.rights}]]  |
            
            <a th:href="@{/(lang=es)}">Es</a> |
            <a th:href="@{/(lang=en)}">En</a>
</p>
</div>
        </footer>
        
    </body>
</html>
