<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    
    <head>
        <title>Chatting</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" type="text/css" href="/Styles/1.css">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
         <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
            
    </head>
    <body>
        
        
        <header th:fragment="header" class="header">
            <nav class="navbar navbar-expand-sm navbar-black  p-0">
                
                <div class="container">
                    <a class="navbar-brand" th:href="@{/}">Chatting</a>
                    <button class="navbar-toggler" 
                            data-toggle="collapse"
                            data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav" sec:authorize="hasRole('ROLE_ADMIN')">
                    <li class="nav-item-px2">
                        <a th:href="@{/user/list}" class="nav-menu-link nav-link">[[#{template.users}]]</a>
                        
                    </li>
                    <li class="nav-item-px2" >
                        <a th:href="@{/category/list}" class="nav-menu-link nav-link" >[[#{template.categories}]]</a>
                        
                    </li>
                    <li class="nav-item-px2" >
                        <a th:href="@{/community/list}" class="nav-menu-link nav-link" >[[#{template.communities}]]</a>
                        
                    </li>
                     <div class="container-fluid">
            <form class="d-flex" role="search">
             <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
             <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
            </div>
                </ul>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item mr-3">
                                <a href="#" class="nav-link">
                                    <i class="fas fa-user"></i>
                                    [[#{aplication.title}]]:
                                    <span sec:authentication="name"></span>
                                </a>
                            </li>
                            <li class="nav-item mr-3">
                                <form method="POST" th:action="@{/logout}">
                                    <a href="#" 
                                       onclick="this.parentNode.submit();"
                                       class="nav-link">
                                        <i class="fas fa-user-times"></i> 
                                        [[#{template.logout}]]
                                    </a>
                                </form>
                            </li>
                        </ul>
             </div>
          </div>
                
                
            </nav>
            <section id="main-header" class="py2 text-white">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h1>
                                <i class="fas fas-cog">[[#{aplication.title}]]</i>
                            </h1>
                        </div>
                    </div>
                </div>
            </section>
        </header>
        
       
        <footer th:fragment="footer" class="bg-info text-white mt-5 p-2">
             <div class="col">
                 <p class="lead text-center">&COPY [[#{template.rights}]]  |
            
            <a th:href="@{/(lang=es)}">Es</a> |
            <a th:href="@{/(lang=en)}">En</a>
</p>
</div>
        </footer>
        
    </body>
</html>
