<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header class="navbar">
            <div class="logo_container">
                <h1 class="Logo"> Logo</h1>
            </div>
            <div class="navbar_links">
            <ul class="main_links">
                <li class="links">Profile</li>
                <li class="links">Explore</li>
                <li class="links">News</li>
                <li class="links">Settings</li>
            </ul>
            </div>
        </header>
        <div class="container">
            <div class="aside_container">
            <aside class="chats list" >
                <ul class="chat_container" th:each="user :${users}">
                    <li class="chat" th:text="$(user.getUsername)">

                    </li>
                    <div th:if="${users == null or users.empty}">
            <h2>No se tienen articulos que mostrarr</h2>    
                </div>
                </ul>
                
            </aside>
                </div>
            <div class=container_communities >
                <ul class="cummunity" th:each="community :${communities}">
                    <li class="community_element" th:text="$(community.getname)">
                    <li class="community_element" th:text="$(community.description)">
                    <li class="community_element" th:text="$(community.users)"></li>
                    <--<!--  <li class="community_element" <img th:text="$(community.users)"> </li>-->
            </div>
        </div>
    </body>
</html>
