<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    
    <head th:replace="layout/template1 :: head">
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <a href="/started_sesion/User_Main_Page"></a>
        
        <header th:replace="layout/template1 :: header">
            
        </header>
         <section th:replace="cart/CartFragment :: listadoCommunities" />
         
          <section th:replace="cart/CartFragment :: createCommunity" />
          
          <section th:replace="cart/CartFragment :: button_add" />
          
           <footer th:replace="layout/template1 :: footer" ></footer>
          
         <script>
             fucntion addCar(formulario){
             var valor=formulario.elements[0].value;
             var url = '/carrito/agregar';
             url=url+ '/' +valor;
             $("#resultsBlock").load(url);
             }
         </script>
            
        
         
        
        
       
    </body>
</html>
