<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
<html>
    
   
    <head th:replace="layout/template1 :: head" >
        <link rel="stylesheet" type="text/css" href="/Styles/1.css">
        <title>Chatting</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">\
         <header th:replace="layout/template1 :: header"></header>
         
    </head>
    <body class="">
        <div class="d-flex align-items-center justify-content-center 
             position-fixed top-50 start-50 bottom-50 end-100">
            
            <div class="formulary border border-1 border-primary ">
            <form class="form-signin" th:action="@{/login}"
                  method="POST">
                
             <div>
            <label  for="email" id="email">Email</label>
            <input type="text" name="email" id="email" required/>
            </div>
            <div>
             <label for="password">Password</label>
             <input type="text" name="password" id="password" required/>
            </div>
                <div class="row py-1 md-2 bg-light">
                                            <button type="submit"
                                                    class="btn btn-primary btn-block">
                                                Log in
                                            </button>
                                            </div>
            </form>
            </div>
        </div>
    </body>
   
</html>
