<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    
    
    
        <title>Chatting</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    </head>
    <body>
         <header th:replace="layout/Page_links_template :: header" ></header>
         <header  class="header">
             
           
                
               
         </header>
        
        <div class="container text-center">
            <div>
            <h1 class="title">Chatting the app where you can chat and enjoy with others</h1>
            </div>
            
            
        </div>
    </body>
    <footer th:replace="layout/Page_links_template :: footer" ></footer>
</html>
