
<html xmlns:th="http://www.thymeleaf.org">
    
    <link th:href="@{/styles/Main_design.css}" rel="stylesheet" />
    <head>
        <title>Chatting</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="navbar">
    <nav>
        <div class="Logo">
            <h1 >
                <a class="title" th:href="@{/}">Logo</a> 
            </h1>
            
        </div>
        <ul class="list">
            <li><a class="links" th:href="@{/SeeData/}"> Information </a></li>
            <li><a class="links" href="">*********** </a></li>
            <li> <a class="links user" th:href="@{/Sign_in/}">Sign in </a></li>
            <li ><a class="links user" href="">Log in</a></li>
        </ul>
    </nav>
    </div>
    </head>
    <body>
         <a href="Main_Page.html"></a>
        
    </body>
</html>
